@charset "UTF-8";
/* Font.scss file */
@font-face {
  font-family: 'DaxlineOffcPro';
  src: url("../fonts/DaxlinePro/DaxlineOffcPro.eot?#iefix") format("embedded-opentype"), url("../fonts/DaxlinePro/DaxlineOffcPro.woff") format("woff"), url("../fonts/DaxlinePro/DaxlineOffcPro.ttf") format("truetype"), url("../fonts/DaxlinePro/DaxlineOffcPro.svg#DaxlineOffcPro") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'daxlinepro';
  src: url(../fonts/DaxlinePro-Regular/DaxlinePro-Regular.eot);
  src: url(../fonts/DaxlinePro-Regular/DaxlinePro-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/DaxlinePro-Regular/DaxlinePro-Regular.woff) format("woff"), url(../fonts/DaxlinePro-Regular/DaxlinePro-Regular.ttf) format("truetype"), url(../fonts/DaxlinePro-Regular/DaxlinePro-Regular.svg#DaxlinePro-Regular) format("svg");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: 'daxlinepro';
  src: url(../fonts/DaxlinePro-Black/DaxlinePro-Black.eot);
  src: url(../fonts/DaxlinePro-Black/DaxlinePro-Black.eot?#iefix) format("embedded-opentype"), url(../fonts/DaxlinePro-Black/DaxlinePro-Black.woff) format("woff"), url(../fonts/DaxlinePro-Black/DaxlinePro-Black.ttf) format("truetype"), url(../fonts/DaxlinePro-Black/DaxlinePro-Black.svg#DaxlinePro-Black) format("svg");
  font-style: normal;
  font-weight: 800;
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: 'daxlinepro';
  src: url(../fonts/DaxlinePro-Bold/DaxlinePro-Bold.eot);
  src: url(../fonts/DaxlinePro-Bold/DaxlinePro-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/DaxlinePro-Bold/DaxlinePro-Bold.woff) format("woff"), url(../fonts/DaxlinePro-Bold/DaxlinePro-Bold.ttf) format("truetype"), url(../fonts/DaxlinePro-Bold/DaxlinePro-Bold.svg#DaxlinePro-Bold) format("svg");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: 'daxlinepro';
  src: url(../fonts/DaxlinePro-Light/DaxlinePro-Light.eot);
  src: url(../fonts/DaxlinePro-Light/DaxlinePro-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/DaxlinePro-Light/DaxlinePro-Light.woff) format("woff"), url(../fonts/DaxlinePro-Light/DaxlinePro-Light.ttf) format("truetype"), url(../fonts/DaxlinePro-Light/DaxlinePro-Light.svg#DaxlinePro-Light) format("svg");
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: 'daxlinepro';
  src: url(../fonts/DaxlinePro-Medium/DaxlinePro-Medium.eot);
  src: url(../fonts/DaxlinePro-Medium/DaxlinePro-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/DaxlinePro-Medium/DaxlinePro-Medium.woff) format("woff"), url(../fonts/DaxlinePro-Medium/DaxlinePro-Medium.ttf) format("truetype"), url(../fonts/DaxlinePro-Medium/DaxlinePro-Medium.svg#DaxlinePro-Medium) format("svg");
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility; }

/* General styles */
.font-weight-normal {
  font-weight: normal !important; }

.font-weight-bold {
  font-family: 'Tahoma', sans-serif;
  font-weight: 600 !important; }

h2 {
  font-size: 56px;
  font-weight: bold; }

.mobile {
  display: none !important; }

.desktop {
  display: initial !important; }

.light-blue {
  color: #44cec6; }

.pink {
  color: #d90094; }

.main-pink {
  color: #de007e; }

td.event-pink {
  background-color: #de007e !important; }

.orange {
  background-color: #ffdca9 !important; }

.digit {
  font-family: "Tahoma", sans-serif !important;
  font-weight: 600 !important; }

* {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'DaxlineOffcPro', sans-serif;
  width: 100%;
  min-width: 320px;
  font-size: 16px;
  background-color: #fff; }

header {
  height: 1106px;
  width: 100%;
  overflow: hidden;
  background: url("../img/bottom_bg_gradient.png") repeat-x bottom; }

.container {
  width: 1250px;
  position: relative;
  z-index: 1; }
  .container.less {
    width: 938px; }
  .container.more {
    width: 1132px; }
  .container.centred {
    margin-left: auto;
    margin-right: auto; }

/* Header.scss file */
.header__big-sun_container {
  position: absolute;
  left: -150px;
  top: -120px;
  width: 100%;
  height: 1106px;
  z-index: 1; }

.header__big-sun {
  max-width: 100%;
  height: auto;
  -webkit-animation: sun-rotate 60s linear infinite;
          animation: sun-rotate 60s linear infinite; }

.header__main-content_container {
  position: relative;
  z-index: 2;
  height: 100%; }

.main-content__callcenter {
  padding-top: 25px;
  margin-right: 230px; }

.main-content__callcenter, .main-content__callcenter a {
  text-align: right;
  font-size: 20px; }

.main-content__callcenter span {
  font-weight: 500;
  color: #000; }

.main-content__callcenter a {
  color: #000;
  font-weight: 600;
  font-family: "Tahoma", sans-serif; }

.main-content__callcenter a:hover {
  text-decoration: none; }

.main-content__promo-text {
  text-align: right;
  width: 450px;
  float: right;
  margin-top: 25px;
  margin-right: 230px;
  line-height: 1.2; }

.main-content__promo-text p {
  text-transform: uppercase;
  font-size: 26px; }

.main-content__promo-text .bold {
  font-weight: 800;
  font-size: 33px;
  display: inline-block;
  margin-bottom: 15px;
  text-transform: uppercase; }

.main-content__promo-text:after {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  clear: both;
  visibility: hidden;
  line-height: 0; }

.main-content__gifts-blocks {
  clear: both;
  width: 400px;
  float: right;
  text-align: center;
  margin-top: 0;
  margin-right: 230px;
  z-index: 2;
  position: relative; }

.main-content__gifts-blocks > img {
  display: block;
  margin: 0 auto 15px;
  max-width: 100%; }

.main-content__garant-gifts {
  position: relative;
  right: -20px; }

.main-content__girls {
  position: absolute;
  right: 870px;
  bottom: -175px;
  z-index: 2; }

.main-content__print_img {
  position: absolute;
  bottom: 170px;
  right: 755px; }

.header__bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 263px;
  z-index: 3; }

.header__bottom:hover .header__brushes {
  -webkit-animation: swing 0.5s ease;
  animation: swing 0.5s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

.header__brushes {
  position: absolute;
  bottom: 125px;
  right: 1119px; }

.header__bottom-line {
  background: url("../img/circle_flower.png") right 350px bottom 12% no-repeat, url("../img/bg_header_right.png") right bottom no-repeat, url("../img/bg_header_left.png") left bottom -10px no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0; }

.cntSeparator {
  font-size: 54px;
  margin: 10px 7px;
  color: #fff; }

.header__gift-cards {
  position: absolute;
  width: 500px;
  height: 405px;
  right: 230px;
  bottom: 100px; }

.header__podrygka-logo {
  position: absolute;
  right: 65px;
  bottom: 50px; }
  .header__podrygka-logo a {
    display: inline-block; }

.header__countdown {
  margin-top: 90px;
  margin-left: 5%;
  display: inline-block; }

.header__countdown-title {
  text-align: center;
  margin-bottom: 15px; }
  .header__countdown-title span {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold; }

.header__countdown .count-defines div:last-child {
  margin-right: 0; }

.header__countdown .count-defines div {
  float: left;
  margin-right: 29px;
  width: 118px;
  padding: 10px 35px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold; }

/* End Header styles*/
/* Partners block */
.partners {
  position: relative;
  background: url(../img/bg_second_block.png) repeat-x top center;
  padding-top: 80px;
  padding-bottom: 100px; }
  .partners__title {
    text-align: center;
    margin-bottom: 45px; }
    .partners__title h2 {
      font-weight: bold; }
  .partners__partners-list {
    background-color: #f7f7f7;
    width: 100%;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    overflow: hidden;
    text-align: center;
    padding: 50px; }
    .partners__partners-list ul {
      text-align: justify; }
      .partners__partners-list ul:after {
        content: '';
        display: inline-block;
        height: 0;
        line-height: 0;
        width: 100%; }
      .partners__partners-list ul:last-child:after {
        display: none; }
      .partners__partners-list ul li:nth-child(3n) {
        margin: 0 20px; }
      .partners__partners-list ul li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 15px 10px; }
        .partners__partners-list ul li a {
          display: inline-block; }
  .partners__info-parnter_container {
    text-align: center; }
    .partners__info-parnter_container h3 {
      display: inline-block;
      padding: 10px;
      background-color: #ffffff;
      margin-top: -25px;
      -webkit-border-radius: 10px;
              border-radius: 10px;
      text-transform: uppercase;
      font-size: 28px;
      font-weight: 800; }
  .partners__woman-parnter {
    margin: auto;
    margin-top: 20px;
    max-width: 300px; }
    .partners__woman-parnter a {
      display: inline-block; }
    .partners__woman-parnter img {
      max-width: 100%; }

/* /Partners block */
/* Garant Presents block */
.garant-presents {
  padding-top: 80px;
  padding-bottom: 60px;
  position: relative;
  background: #14b1ba url(../img/bg_garant_block.png) no-repeat center top -107px;
  overflow: hidden; }
  .garant-presents__present-slider {
    display: none; }
  .garant-presents__title {
    text-align: center;
    margin-bottom: 20px;
    z-index: 2;
    position: relative; }
    .garant-presents__title h2 {
      display: inline-block;
      color: #fff;
      padding: 10px 92px 10px 0;
      background: url(../img/third_title_present.png) right center no-repeat; }
  .garant-presents__content {
    position: relative;
    left: -80px; }
  .garant-presents__presents {
    height: 690px;
    width: 100%;
    position: relative; }
    .garant-presents__presents img {
      position: absolute;
      left: 60px;
      bottom: 0;
      right: 0;
      top: 50px;
      margin: auto; }
    .garant-presents__presents img.percent_pict {
      left: 1000px;
      top: -30px; }
  .garant-presents__content.hover .garant-presents__presents-defines > div {
    opacity: 1; }
  .garant-presents__presents-defines {
    height: 690px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }
    .garant-presents__presents-defines div {
      position: absolute;
      opacity: 0;
      -webkit-transition: all 1s ease;
      transition: all 1s ease; }
      .garant-presents__presents-defines div img {
        position: absolute; }
      .garant-presents__presents-defines div span {
        display: inline-block;
        text-align: center;
        width: 115px;
        color: #fff;
        font-size: 17px;
        line-height: 1.3;
        font-weight: bold;
        text-transform: uppercase; }
    .garant-presents__presents-defines .umbrella {
      left: 100px;
      top: 35px; }
      .garant-presents__presents-defines .umbrella img {
        left: -32px;
        top: 33px; }
    .garant-presents__presents-defines .kosmetichka {
      left: 679px;
      top: 140px; }
      .garant-presents__presents-defines .kosmetichka img {
        left: -60px;
        top: 22px; }
    .garant-presents__presents-defines .povyazka {
      left: 949px;
      top: 135px; }
      .garant-presents__presents-defines .povyazka img {
        left: -8px;
        top: 50px; }
    .garant-presents__presents-defines .brush {
      left: 639px;
      bottom: 40px; }
      .garant-presents__presents-defines .brush img {
        left: 60px;
        top: -92px; }
    .garant-presents__presents-defines .hairbrush {
      left: 938px;
      bottom: 40px; }
      .garant-presents__presents-defines .hairbrush img {
        left: 35px;
        top: -106px; }
    .garant-presents__presents-defines .percent {
      left: 1080px;
      top: 113px; }
      .garant-presents__presents-defines .percent img {
        left: 25px;
        top: 66px; }

.garant__presents-slider .swiper-button-prev, .garant__presents-slider .swiper-button-next {
  width: 40px;
  height: 103px;
  display: block;
  position: absolute;
  margin-top: -70px; }

.garant__presents-slider {
  display: none; }

.garant__presents-slider {
  height: 260px; }
  .garant__presents-slider .swiper-slide {
    text-align: center; }
    .garant__presents-slider .swiper-slide .picture {
      position: relative;
      width: 100%;
      height: 220px; }
      .garant__presents-slider .swiper-slide .picture img {
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto; }
    .garant__presents-slider .swiper-slide .title {
      text-align: center;
      height: 40px; }
      .garant__presents-slider .swiper-slide .title span {
        font-size: 17px;
        font-weight: bold;
        text-transform: uppercase;
        color: #ffffff; }
  .garant__presents-slider .swiper-button-prev {
    left: 0;
    background: url(../img/garant-slider/left_arrow.png) no-repeat center; }
  .garant__presents-slider .swiper-button-next {
    right: 0;
    background: url(../img/garant-slider/right_arrow.png) no-repeat center; }

/* /Garant Presents block */
/* Calendar block */
.calendar__block-decorations .left-decor-notepad-points, .calendar__block-decorations .right-decor-notepad-points {
  position: absolute;
  height: 100px;
  width: 150px; }
  .calendar__block-decorations .left-decor-notepad-points .point, .calendar__block-decorations .right-decor-notepad-points .point {
    display: inline-block;
    width: 50px;
    height: 95px;
    background: url(../img/notepad_point.png) no-repeat top center; }

.calendar {
  padding-top: 50px;
  padding-bottom: 0;
  position: relative;
  overflow: hidden;
  background: url(../img/bg_calendar_top.png) repeat-x top center, -webkit-gradient(linear, left top, left bottom, from(#14b1ba), color-stop(50%, #14b1ba), color-stop(50%, white));
  background: url(../img/bg_calendar_top.png) repeat-x top center, -webkit-linear-gradient(top, #14b1ba, #14b1ba 50%, white 50%);
  background: url(../img/bg_calendar_top.png) repeat-x top center, linear-gradient(to bottom, #14b1ba, #14b1ba 50%, white 50%); }
  .calendar__block-decorations {
    position: relative;
    margin: 0 auto;
    width: 938px;
    top: -45px; }
    .calendar__block-decorations .left-decor-notepad-points {
      left: 0;
      top: 0; }
      .calendar__block-decorations .left-decor-notepad-points .point + .point {
        margin-left: 45px; }
    .calendar__block-decorations .right-decor-notepad-points {
      right: 0;
      top: 0; }
      .calendar__block-decorations .right-decor-notepad-points .point + .point {
        margin-left: 45px; }
    .calendar__block-decorations .left-big-decors {
      position: absolute;
      left: -30px;
      top: 180px; }
      .calendar__block-decorations .left-big-decors .pencil {
        position: absolute;
        background: url(../img/calendar/5.png) no-repeat center;
        width: 84px;
        height: 270px; }
      .calendar__block-decorations .left-big-decors .pomada {
        position: absolute;
        background: url(../img/calendar/4.png) no-repeat center;
        width: 55px;
        height: 175px;
        left: 80px; }
    .calendar__block-decorations .right-big-decors {
      position: absolute;
      right: 0;
      top: 180px; }
      .calendar__block-decorations .right-big-decors .circles {
        position: absolute;
        background: url(../img/calendar/7.png) no-repeat center;
        width: 128px;
        height: 154px;
        right: 0;
        top: -35px; }
      .calendar__block-decorations .right-big-decors .brush {
        position: absolute;
        background: url(../img/calendar/3.png) no-repeat center;
        width: 92px;
        height: 340px;
        right: -80px;
        top: -15px; }
      .calendar__block-decorations .right-big-decors .little-brush {
        position: absolute;
        background: url(../img/calendar/2.png) no-repeat center;
        width: 30px;
        height: 344px;
        right: -12px;
        top: 12px; }
      .calendar__block-decorations .right-big-decors .tush {
        position: absolute;
        background: url(../img/calendar/1.png) no-repeat center;
        width: 78px;
        height: 239px;
        right: 0;
        top: 115px; }
  .calendar__top-part {
    background: #bde8cb;
    -webkit-border-radius: 30px 30px 0 0;
            border-radius: 30px 30px 0 0;
    padding-top: 60px;
    padding-bottom: 35px; }
  .calendar__title {
    margin-bottom: 35px; }
    .calendar__title h2 {
      text-align: center; }
  .calendar__description {
    font-size: 17px;
    font-weight: bold;
    padding: 0 50px;
    margin-bottom: 40px; }
    .calendar__description p {
      text-align: center;
      line-height: 1.5; }
  .calendar__some-parnters {
    padding: 0 50px; }
    .calendar__some-parnters ul {
      text-align: center; }
      .calendar__some-parnters ul li {
        display: inline-block;
        padding: 5px 15px;
        vertical-align: middle; }
  .calendar__bottom-part {
    position: relative;
    background: #ffa827;
    -webkit-border-radius: 0 0 0 40px;
            border-radius: 0 0 0 40px;
    padding-top: 50px;
    padding-bottom: 85px; }
  .calendar__month {
    text-align: center;
    padding-bottom: 10px; }
    .calendar__month span {
      display: inline-block;
      font-size: 45px;
      color: #ffffff;
      font-weight: bold; }
  .calendar__table-container table {
    width: 100%; }
    .calendar__table-container table td {
      width: 136px;
      height: 136px;
      background-color: #fff;
      border: 2px solid #ffa827;
      text-align: center;
      vertical-align: middle; }
      .calendar__table-container table td span {
        font-size: 52px;
        color: #ffffff;
        width: 100%;
        display: inline-block; }
      .calendar__table-container table td span + span {
        font-size: 18px;
        font-weight: bold; }
    .calendar__table-container table th {
      text-align: center;
      padding: 30px 10px;
      color: #fff;
      background-color: #ffa827;
      vertical-align: middle;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase; }
  .calendar__paper-corner {
    position: absolute;
    background: url(../img/orange_corner.jpg) no-repeat center;
    width: 224px;
    height: 223px;
    right: 0;
    bottom: 0; }

/* /Calendar block */
/* Rules block*/
.rules {
  padding-top: 65px;
  padding-bottom: 140px;
  position: relative; }
  .rules__title {
    text-align: center;
    margin-bottom: 40px; }
    .rules__title h2 {
      display: inline-block; }
  .rules__the-way {
    position: relative;
    height: 600px;
    width: 100%;
    text-align: center; }
    .rules__the-way img {
      max-width: 100%; }
  .rules__steps {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .rules__steps > div {
      position: absolute;
      left: 0;
      top: 0;
      margin-bottom: -20px; }
      .rules__steps > div .picture {
        width: 130px;
        height: 130px; }
        .rules__steps > div .picture img {
          max-width: 100%; }
      .rules__steps > div .description {
        position: absolute; }
        .rules__steps > div .description span {
          text-transform: uppercase;
          font-size: 20px;
          font-weight: bold;
          color: #de007e; }
        .rules__steps > div .description p {
          margin-top: 10px;
          line-height: 1;
          font-size: 16px;
          font-weight: bold; }
  .rules__steps > .rules__step1 {
    bottom: 86px;
    left: 75px;
    top: auto; }
    .rules__steps > .rules__step1 .description {
      width: 250px;
      left: -57px;
      top: 150px; }
  .rules__steps > .rules__step2 {
    top: 52px;
    left: 317px; }
    .rules__steps > .rules__step2 .description {
      width: 135px;
      left: 120px;
      top: 80px; }
  .rules__steps > .rules__step3 {
    top: 120px;
    left: auto;
    right: 154px; }
    .rules__steps > .rules__step3 .description {
      width: 135px;
      right: 120px;
      top: 30px; }
  .rules__steps > .rules__step4 {
    top: auto;
    left: auto;
    right: 336px;
    bottom: 73px; }
    .rules__steps > .rules__step4 .description {
      width: 180px;
      left: -20px;
      top: -100px; }
  .rules__steps > .rules__step5 {
    top: auto;
    left: auto;
    right: 135px;
    bottom: -59px; }
    .rules__steps > .rules__step5 .description {
      width: 370px;
      left: -370px;
      top: 50px; }

/* /Rules block */
/* Instagram */
.instagram {
  background-color: #bde8cb;
  padding-top: 70px;
  padding-bottom: 100px; }
  .instagram .swiper-container {
    height: 100%; }
  .instagram__title {
    text-align: center;
    margin-bottom: 20px; }
    .instagram__title h2 {
      display: inline-block;
      padding: 15px 105px 15px 0;
      background: url(../img/instagram_title.png) no-repeat center right; }
  .instagram__description {
    text-align: center;
    margin-bottom: 45px; }
    .instagram__description h3 {
      font-size: 33px;
      margin-bottom: 35px; }
    .instagram__description p {
      font-size: 17px;
      line-height: 1.4;
      padding: 0 70px; }
      .instagram__description p strong {
        font-weight: bold; }
  .instagram__slider {
    position: relative;
    margin-bottom: 20px;
    height: 250px; }
    .instagram__slider .swiper-button-prev, .instagram__slider .swiper-button-next {
      width: 26px;
      height: 45px; }
    .instagram__slider .swiper-button-prev {
      background: url(../img/slider/slider_arrow_left.png);
      left: -40px; }
    .instagram__slider .swiper-button-next {
      background: url(../img/slider/slider_arrow_right.png);
      right: -40px; }
    .instagram__slider .slider-item a {
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      padding: 0 10px; }
      .instagram__slider .slider-item a img {
        max-width: 100%;
        max-height: 100%; }

/* /Instagram */
/* Winners */
.winners {
  padding-top: 55px;
  padding-bottom: 100px; }
  .winners__title {
    text-align: center;
    margin-bottom: 40px; }
    .winners__title h2 {
      display: inline-block;
      padding-top: 50px;
      text-transform: uppercase;
      background: url(../img/crown.png) no-repeat top center; }
  .winners__calendar-date {
    position: relative;
    width: 310px;
    margin: 0 auto 60px; }
    .winners__calendar-date .day {
      text-align: center;
      width: 120px;
      margin: 0 auto; }
      .winners__calendar-date .day .month {
        font-weight: bold;
        font-size: 24px; }
      .winners__calendar-date .day ul li {
        display: none; }
        .winners__calendar-date .day ul li span {
          font-size: 70px;
          font-weight: bold; }
        .winners__calendar-date .day ul li.current {
          display: block; }
  .winners .left-arrow, .winners .right-arrow {
    width: 26px;
    height: 45px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer; }
  .winners .right-arrow {
    background: url(../img/calendar/right_arrow.png) no-repeat center;
    right: 0; }
  .winners .left-arrow {
    background: url(../img/calendar/left_arrow.png) no-repeat center;
    left: 0; }
  .winners__calendar-list {
    background: #f1f1f1;
    position: relative;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    padding: 40px 15px; }
    .winners__calendar-list:after {
      top: 0;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-top-color: #ffffff;
      border-width: 18px;
      margin-left: -18px; }
    .winners__calendar-list ul {
      width: 100%;
      -webkit-transition: all .5s ease;
      transition: all .5s ease; }
      .winners__calendar-list ul li {
        display: inline-block;
        width: 20%;
        margin-right: -4px; }
        .winners__calendar-list ul li .winner-item {
          width: 168px;
          margin: 0 auto;
          position: relative; }
          .winners__calendar-list ul li .winner-item a {
            display: inline-block;
            width: 100%;
            height: 100%; }
          .winners__calendar-list ul li .winner-item .photo {
            width: 100%;
            height: 168px;
            text-align: center;
            overflow: hidden;
            -webkit-border-radius: 100%;
                    border-radius: 100%;
            position: relative;
            z-index: 1;
            background-color: #fff;
            margin-bottom: 20px; }
            .winners__calendar-list ul li .winner-item .photo img {
              position: absolute;
              max-width: 100%;
              left: -50%;
              right: -50%;
              margin: auto; }
          .winners__calendar-list ul li .winner-item .name {
            text-align: center; }
            .winners__calendar-list ul li .winner-item .name span {
              display: inline-block;
              width: 100%;
              font-size: 18px;
              color: #de007e;
              font-weight: bold;
              text-transform: uppercase; }

/* /Winners */
/* Map */
.map-block {
  background: #de007e;
  padding-top: 90px;
  padding-bottom: 90px; }
  .map-block__title {
    text-align: center;
    width: 630px;
    color: #fff;
    margin: 0 auto; }
    .map-block__title h2 {
      display: inline-block; }

/* /Map */
.map__tabs {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px; }

.map__tabs input {
  display: none; }

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

.map__tabs input:checked + label {
  background: #00b0b9;
  color: #fff; }

.map__tabs .label-1 {
  -webkit-border-radius: 20px 0 0 20px;
          border-radius: 20px 0 0 20px; }

.map__tabs .label-2 {
  -webkit-border-radius: 0 20px 20px 0;
          border-radius: 0 20px 20px 0; }

.map__tabs label {
  color: #999;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  font-size: 21px;
  background: #fff;
  text-transform: uppercase;
  padding: 10px 20px 5px 20px;
  margin-right: -5px; }

.catalog_btn {
  display: block;
  width: 314px;
  height: 67px;
  text-decoration: none;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  background-image: url(../img/catalog_btn.png); }

.shop-map {
  height: 550px;
  overflow: hidden;
  position: relative; }
  .shop-map > ymaps {
    max-width: 100%;
    -webkit-border-radius: 20px;
            border-radius: 20px; }

.modal-windows-container {
  display: none; }

.circle-modal .fancybox-close {
  background: url(../img/close_modal.png) no-repeat;
  width: 124px;
  height: 124px;
  top: 25px;
  right: 25px; }

.circle-modal {
  max-width: 580px;
  max-height: 580px;
  height: 580px; }
  .circle-modal .fancybox-skin {
    max-width: 580px;
    max-height: 580px;
    height: 580px;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
  .circle-modal .fancybox-inner {
    max-width: 580px;
    max-height: 580px;
    height: 580px; }
  .circle-modal .fancybox-inner {
    overflow: hidden;
    -webkit-border-radius: 50%;
            border-radius: 50%; }

.modal {
  width: 100%;
  height: 100%; }

.modal-content {
  width: 380px;
  height: 100%;
  padding-top: 105px;
  margin: 0 auto; }

.event-date {
  text-align: center;
  margin-bottom: 35px; }
  .event-date span {
    display: inline-block;
    font-size: 36px;
    font-weight: 600;
    font-family: "Tahoma", sans-serif;
    color: #2f2f2f; }

.event-list .event {
  padding-bottom: 35px;
  padding-left: 110px;
  background: url(../img/modal-baloon.png) no-repeat left 20px top 45px; }
  .event-list .event .brand {
    width: 100%;
    margin-bottom: 15px; }
    .event-list .event .brand img {
      max-width: 100%; }
  .event-list .event .information a {
    font-size: 23px;
    text-decoration: underline;
    color: #000;
    line-height: 1.4; }
    .event-list .event .information a:hover {
      text-decoration: none; }

.difficult {
  background-color: #f3f3f3; }

.difficult .modal-content {
  width: 500px;
  height: 100%;
  padding-top: 105px;
  margin: 0 auto; }

.event-date {
  text-align: center;
  margin-bottom: 35px; }
  .event-date span {
    display: inline-block;
    font-size: 36px;
    font-weight: 600;
    font-family: "Tahoma", sans-serif;
    color: #2f2f2f; }

.difficult .event-list .event {
  margin-bottom: 35px;
  padding-left: 0;
  width: 90%;
  margin: 0 auto 35px;
  background-image: none;
  background-color: #fff;
  -webkit-border-radius: 38px;
          border-radius: 38px;
  text-align: center; }
  .difficult .event-list .event .brand {
    width: auto;
    margin-top: -19px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 6px 6px 0 6px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    overflow: hidden;
    background: #ffffff;
    display: inline-block;
    margin-bottom: 15px; }
    .difficult .event-list .event .brand img {
      max-width: 100%;
      max-height: 35px; }
  .difficult .event-list .event .information {
    text-align: left;
    display: inline-block;
    margin-right: -4px;
    padding-left: 30px;
    padding-right: 10px;
    background: url(../img/modal-baloon.png) no-repeat left top;
    background-size: 26px 30px;
    vertical-align: top;
    min-height: 30px; }
    .difficult .event-list .event .information a {
      font-size: 17px;
      text-decoration: underline;
      color: #000;
      line-height: 1.1; }
      .difficult .event-list .event .information a:hover {
        text-decoration: none; }

.difficult .event-list .two-adresses.event {
  padding: 0 15px 15px; }

.difficult .event-list .two-adresses .information {
  width: 50%; }

.difficult .event-list .one-adress.event {
  width: 45%;
  padding: 10px 10px 10px 20px;
  display: inline-block;
  margin-right: -4px;
  margin-left: 3%; }

.modal-event {
  display: inline-block;
  width: 100%;
  position: relative; }

/* Стили для параллакса */
.rules, .instagram, .winners, .map-block, .partners, header {
  position: relative;
  overflow: hidden; }

.main-content__pink-dotted-circle {
  position: absolute;
  height: 100%;
  width: 159px;
  right: 0;
  top: 350px;
  background: url(../img/pink_dotted_circle.png) left no-repeat; }

.main-content__yellow-circle-lines {
  position: absolute;
  height: 100%;
  width: 259px;
  background-position-x: 100% !important;
  left: 0;
  top: 300px;
  background: url(../img/yellow_circle_lines.png) no-repeat; }

.blue_circle_parallax {
  position: absolute;
  height: 100%;
  width: 344px;
  left: 0;
  top: 0;
  background: url(../img/blue_circle_lines.png) no-repeat; }

.yellow_dotted_circle_parallax {
  position: absolute;
  height: 100%;
  width: 320px;
  right: -50px;
  top: 500px;
  overflow: hidden;
  background: url(../img/yellow_dotted_circle.png) no-repeat; }

.orange_circle_parallax {
  position: absolute;
  height: 100%;
  width: 147px;
  left: 0;
  top: 0;
  background: url(../img/orange_circle.png) no-repeat; }

.flower_circle_parallax {
  position: absolute;
  height: 100%;
  width: 285px;
  right: 0;
  top: 0;
  background: url(../img/flower_parallax_circle.png) no-repeat; }

.green_circle_parallax {
  position: absolute;
  height: 100%;
  width: 320px;
  left: -80px;
  top: 0;
  background: url(../img/green_dashed_circle.png) no-repeat; }

.yellow_circle_lines_parallax {
  position: absolute;
  height: 100%;
  width: 320px;
  right: -160px;
  top: 0;
  background: url(../img/yellow_circle_lines.png) no-repeat; }

.green_dashed_circle_parallax {
  position: absolute;
  height: 100%;
  width: 320px;
  left: -160px;
  top: 0;
  background-position-x: 100% !important;
  background: url(../img/aqua_circle.png) no-repeat; }

.spiral_circle_parallax {
  position: absolute;
  height: 100%;
  width: 150px;
  left: 0;
  top: 0;
  background: url(../img/spiral_circle.png) no-repeat; }

.infinity_circle_parallax {
  position: absolute;
  height: 100%;
  width: 143px;
  right: 0;
  top: 0;
  background: url(../img/infinity_circle.png) no-repeat; }

/* /Стили для параллакса */
/* Мигающие декорации */
.decors {
  position: absolute;
  z-index: 5;
  -webkit-animation: blinker 3s linear infinite;
          animation: blinker 3s linear infinite; }

header img.decor-1, .partners img.decor-1 {
  top: 300px;
  right: 30px; }

header img.decor-2, .partners img.decor-2 {
  bottom: 310px;
  right: 30px; }

header img.decor-3, .partners img.decor-3 {
  top: 300px;
  right: 300px; }

header img.decor-4, .partners img.decor-4 {
  bottom: 310px;
  right: 430px; }

header img.decor-5, .partners img.decor-5 {
  bottom: 210px;
  right: 451px; }

header img.decor-6, .partners img.decor-6 {
  top: 140px;
  left: 580px; }

header img.decor-7, .partners img.decor-7 {
  top: 80px;
  left: 550px; }

header img.decor-8, .partners img.decor-8 {
  bottom: 510px;
  right: 30px; }

header img.decor-9, .partners img.decor-9 {
  left: 30px;
  top: 30px; }

header img.decor-10, .partners img.decor-10 {
  bottom: 510px;
  right: 340px; }

.partners img.decor-1 {
  top: 300px;
  right: 30px; }

.partners img.decor-2 {
  bottom: 310px;
  right: 30px; }

.partners img.decor-3 {
  top: 300px;
  left: 50px; }

.partners img.decor-4 {
  bottom: 310px;
  right: 430px; }

.partners img.decor-5 {
  top: 195px;
  right: 180px; }

.partners img.decor-6 {
  top: 160px;
  left: 440px; }

.garant-presents img.decor-1 {
  top: 300px;
  right: 30px; }

.garant-presents img.decor-2 {
  bottom: 280px;
  right: 30px; }

.garant-presents img.decor-3 {
  top: 300px;
  left: 50px; }

.garant-presents img.decor-4 {
  bottom: 310px;
  right: 430px; }

.garant-presents img.decor-5 {
  top: 195px;
  right: 180px; }

.garant-presents img.decor-6 {
  bottom: 60px;
  left: 340px; }

.garant-presents img.decor-7 {
  bottom: 100px;
  right: 200px; }

.garant-presents img.decor-8 {
  top: 160px;
  left: 440px; }

.calendar img.decor-1 {
  bottom: 300px;
  right: 50px; }

.calendar img.decor-2 {
  top: 600px;
  left: 50px; }

.calendar img.decor-3 {
  bottom: 50px;
  right: 350px; }

.calendar img.decor-4 {
  top: 100px;
  left: 30px; }

.calendar img.decor-5 {
  bottom: 70px;
  left: 300px; }

.calendar img.decor-6 {
  bottom: 300px;
  left: 60px; }

.calendar img.decor-7 {
  bottom: 200px;
  left: 300px; }

.calendar img.decor-8 {
  bottom: 510px;
  right: 30px; }

.calendar img.decor-9 {
  left: 200px;
  top: 200px; }

.calendar img.decor-10 {
  bottom: 510px;
  right: 170px; }

.rules img.decor-1 {
  bottom: 100px;
  right: 100px; }

.rules img.decor-2 {
  top: 260px;
  left: 200px; }

.rules img.decor-3 {
  top: 260px;
  left: 130px; }

.rules img.decor-4 {
  top: 100px;
  right: 70px; }

.rules img.decor-5 {
  top: 100px;
  right: 130px; }

.rules img.decor-6 {
  top: 350px;
  left: 60px; }

.instagram img.decor-1 {
  bottom: 100px;
  right: 100px; }

.instagram img.decor-2 {
  top: 600px;
  left: 110px; }

.instagram img.decor-3 {
  top: 100px;
  left: 130px; }

.instagram img.decor-4 {
  top: 100px;
  right: 70px; }

.instagram img.decor-5 {
  top: 100px;
  right: 160px; }

.instagram img.decor-6 {
  bottom: 80px;
  right: 290px; }

.instagram img.decor-7 {
  top: 350px;
  left: 60px; }

.winners img.decor-1 {
  bottom: 300px;
  right: 50px; }

.winners img.decor-2 {
  top: 600px;
  left: 50px; }

.winners img.decor-3 {
  bottom: 50px;
  right: 350px; }

.winners img.decor-4 {
  top: 100px;
  right: 30px; }

.winners img.decor-5 {
  bottom: 70px;
  left: 300px; }

.winners img.decor-6 {
  top: 200px;
  right: 160px; }

.winners img.decor-7 {
  bottom: 200px;
  left: 300px; }

.winners img.decor-8 {
  bottom: 510px;
  right: 30px; }

.winners img.decor-9 {
  left: 200px;
  top: 200px; }

.map-block img.decor-1 {
  top: 300px;
  right: 50px; }

.map-block img.decor-2 {
  top: 200px;
  left: 150px; }

.map-block img.decor-3 {
  bottom: 120px;
  left: 350px; }

.map-block img.decor-4 {
  top: 100px;
  right: 230px; }

.map-block img.decor-5 {
  bottom: 70px;
  left: 300px; }

/* /Мигающие декорации */
.check-block {
  display: inline-block;
  text-align: center;
  width: 300px;
  height: 200px;
  background: #f4f4f4 url(../img/check-bg.png) no-repeat 0 0;
  font: 13px Antiqua;
  line-height: 16px;
  color: #000;
  border: 3px dotted #fff;
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
  left: -50%;
  right: -50%;
  top: -10%;
  margin: auto;
  bottom: 0; }

.check-block, .check-block .abs {
  position: absolute; }

.check-block .check-address {
  width: 100%;
  top: 40px; }

.check-block .check-city {
  width: 100%;
  top: 22px; }

.check-block strong {
  font: 14px COMIC\ SANS\ MS;
  font-weight: 700;
  color: #000; }

.check-block .terminal {
  left: 3px;
  top: 85px;
  text-align: left;
  color: rgba(135, 135, 135, 0.8); }

.check-block .check-date {
  right: 3px;
  top: 82px;
  text-align: right;
  color: rgba(135, 135, 135, 0.8); }

.hide-check {
  display: block;
  visibility: hidden;
  position: absolute;
  z-index: 50;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: -webkit-transform .3s ease-in, opacity .3s ease-in, visibility .3s ease-in;
  -webkit-transition: opacity .3s ease-in, visibility .3s ease-in, -webkit-transform .3s ease-in;
  transition: opacity .3s ease-in, visibility .3s ease-in, -webkit-transform .3s ease-in;
  transition: transform .3s ease-in, opacity .3s ease-in, visibility .3s ease-in;
  -webkit-transition: -webkit-transform .3s ease-in, opacity .3s ease-in, visibility .3s ease-in, -webkit-transform .3s ease-in;
  transition: transform .3s ease-in, opacity .3s ease-in, visibility .3s ease-in, -webkit-transform .3s ease-in;
  transform: matrix(0.5, 0, 0, 0.5, 0, 0);
  -moz-transform: matrix(0.5, 0, 0, 0.5, 0, 0);
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 0);
  -o-transform: matrix(0.5, 0, 0, 0.5, 0, 0);
  -ms-transform: matrix(0.5, 0, 0, 0.5, 0, 0);
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.5, M12=0, M21=0, M22=0.5, Dx=0, Dy=0); }

.hide-check.open {
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 50;
  visibility: visible;
  cursor: pointer;
  transform: matrix(1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  -o-transform: matrix(1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1, 0, 0);
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0, M21=0, M22=1, Dx=0, Dy=0); }

.shop-list a {
  color: #393939;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  transition: color .15s ease; }

.shop-list a:hover {
  -webkit-tap-highlight-color: #e3fcff; }

.shop-list {
  position: relative;
  padding: 40px 38px 0 32px;
  -webkit-border-radius: 0 0 20px 0;
          border-radius: 0 0 20px 0;
  min-height: 680px;
  background: #fff; }

.shop-list:before {
  content: '';
  position: absolute;
  top: -80px;
  left: 300px;
  width: 200px;
  height: 114px;
  background: url(/img/handwrite/hw-shops-clicktitle.png) no-repeat 0 0; }

.shop-list .item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 297px;
  border-bottom: 1px solid #f2e9e8;
  font: 12px/1.2 Arial, sans-serif;
  letter-spacing: normal;
  margin: 0 0 25px;
  padding: 0 0 22px; }

.shop-list .item.nomrg {
  margin-left: 0; }

.shop-list .item {
  margin-left: 104px; }

.shop-list .item .perfume {
  position: absolute;
  top: 2px;
  right: 0;
  color: #12090a;
  font: 700 10px/1.1 Open Sans, Arial, sans-serif;
  text-transform: uppercase; }

.shop-list .item .title {
  font: 12px/15px Arial, sans-serif;
  text-transform: uppercase; }

.shop-list .item .title A {
  padding: 1px 0; }

.shop-list .item .title EM {
  font-weight: 700;
  color: #ed0a95;
  display: block; }

.shop-list .item .address {
  margin-top: 5px;
  font-weight: 700; }

.shop-list .item .contacts {
  margin-top: 5px; }

.shop-list .item .contacts .metro {
  display: block; }

.shop-list .work-time {
  margin-top: 5px;
  margin-bottom: 10px; }

.shop-list .work-time tr {
  border-bottom: 1px solid #fab5df; }

.shop-list .work-time tr td:first-child {
  width: 95px; }

.shop-list .work-time tr td:first-child + td {
  width: 100px;
  color: #ed0a95; }

.shop-list .item .contacts DT {
  font-weight: 700;
  display: inline-block;
  position: relative;
  margin: 1px 3px 0 0; }

.shop-list .item .contacts DT:after {
  content: ':'; }

.shop-list .item .contacts DD {
  display: inline; }

.shop-list .item .contacts DD:after {
  content: '\A';
  white-space: pre; }

.shop-list .item .time {
  margin-top: 13px; }

.shop-list .item .time DT {
  font-weight: 700;
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 1px; }

.shop-list-balloon {
  padding: 0;
  -webkit-border-radius: 0;
          border-radius: 0;
  min-height: 0;
  width: 344px; }

.shop-list-balloon .work-time {
  margin-top: 5px;
  margin-bottom: 10px; }

.shop-list-balloon .work-time tr {
  border-bottom: 1px solid #fab5df; }

.shop-list-balloon .work-time tr td:first-child {
  width: 95px; }

.shop-list-balloon .work-time tr td:first-child + td {
  width: 100px;
  color: #ed0a95; }

.shop-list-balloon .close-balloon, .shop-list-balloon:before {
  display: none; }

.shop-list-balloon .item {
  border: none;
  padding: 0;
  margin: 19px 19px 17px 28px !important;
  width: 297px !important;
  text-align: left; }

.shop-list .item .photo_small {
  position: absolute;
  right: 0;
  top: -10px;
  cursor: pointer; }

/* Animation */
@-webkit-keyframes sun-rotate {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

@keyframes sun-rotate {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg); }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px); }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px); }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px); }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px); }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px); }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px); }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px); }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px); }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes blink {
  0% {
    color: #F00; }
  50% {
    color: #FBB; }
  100% {
    color: #F00; } }

@keyframes blink {
  0% {
    color: #F00; }
  50% {
    color: #FBB; }
  100% {
    color: #F00; } }

@-webkit-keyframes blinker {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes blinker {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* /Animation */


.digitTahoma {
  font-family: Tahoma, Arial, Helvetica !important;
  font-weight:600;
  font-size:85%;
}

@media screen and (min-color-index:0)
and(-webkit-min-device-pixel-ratio:0) { @media
{
  .digitTahoma {
    font-family: DaxlineOffcPro;
    font-weight:normal;
    font-size:100%;
  }
}}