.header__big-sun_container {
  position: absolute;
  left: -150px;
  top: -120px;
  width: 100%;
  height: 1106px;
  z-index: 1;
}
.header__big-sun {
  max-width: 100%;
  height: auto;
  animation: sun-rotate 60s linear infinite;
}

.header__main-content_container {
  position: relative;
  z-index: 2;
  height: 100%;
}

.main-content__callcenter {
  padding-top: 25px;
  margin-right: 230px;
}
.main-content__callcenter, .main-content__callcenter a {
  text-align: right;
  font-size: 20px;
}

.main-content__callcenter span {
  font-weight: 500;
  color: #000;
}
.main-content__callcenter a {
  color: #000;
  font-weight: 600;
  font-family: "Tahoma", sans-serif;
}

.main-content__callcenter a:hover {
  text-decoration: none;
}

.main-content__promo-text {
  text-align: right;
  width: 450px;
  float: right;
  margin-top: 25px;
  margin-right: 230px;
  line-height: 1.2;
}

.main-content__promo-text p {
  text-transform: uppercase;
  font-size: 26px;
}
.main-content__promo-text .bold {
  font-weight: 800;
  font-size: 33px;
  display: inline-block;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.main-content__promo-text:after {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  clear: both;
  visibility: hidden;
  line-height: 0;
}

.main-content__gifts-blocks {
  clear: both;
  width: 400px;
  float: right;
  text-align: center;
  //margin-top: 25px;
  margin-top: 0;
  margin-right: 230px;
  z-index: 2;
  position: relative;
}
.main-content__gifts-blocks > img {
  display: block;
  margin:0 auto 15px;
  max-width: 100%;
}
.main-content__garant-gifts {
  position: relative;
  right: -20px;
}

.main-content__girls {
  position: absolute;
  right: 870px;
  bottom: -175px;
  z-index: 2;
}

.main-content__print_img {
  position: absolute;
  bottom: 206px;
  right: 755px;
}

.header__bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 263px;
  z-index: 3;
}

.header__bottom:hover .header__brushes{
  -webkit-animation: swing 0.5s ease;
  animation: swing 0.5s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.header__brushes {
  position: absolute;
  bottom: 125px;
  right: 1119px;
}

.header__bottom-line {
  background: url("../img/circle_flower.png") right 350px bottom 12% no-repeat,
  url("../img/bg_header_right.png") right bottom no-repeat,
  url("../img/bg_header_left.png") left bottom -10px no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
}

.cntSeparator {
  font-size: 54px;
  margin: 10px 7px;
  color: #fff;
}