.shop-list a {
  color: #393939;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  transition: color .15s ease
}

.shop-list a:hover {
  -webkit-tap-highlight-color: #e3fcff
}

.shop-list {
  position: relative;
  padding: 40px 38px 0 32px;
  border-radius: 0 0 20px 0;
  min-height: 680px;
  background: #fff
}

.shop-list:before {
  content: '';
  position: absolute;
  top: -80px;
  left: 300px;
  width: 200px;
  height: 114px;
  background: url(/img/handwrite/hw-shops-clicktitle.png) no-repeat 0 0
}

.shop-list .item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 297px;
  border-bottom: 1px solid #f2e9e8;
  font: 12px/1.2 Arial, sans-serif;
  letter-spacing: normal;
  margin: 0 0 25px;
  padding: 0 0 22px
}

.shop-list .item.nomrg {
  margin-left: 0
}

.shop-list .item {
  margin-left: 104px
}

.shop-list .item .perfume {
  position: absolute;
  top: 2px;
  right: 0;
  color: #12090a;
  font: 700 10px/1.1 Open Sans, Arial, sans-serif;
  text-transform: uppercase
}

.shop-list .item .title {
  font: 12px/15px Arial, sans-serif;
  text-transform: uppercase
}

.shop-list .item .title A {
  padding: 1px 0
}

.shop-list .item .title EM {
  font-weight: 700;
  color: #ed0a95;
  display: block
}

.shop-list .item .address {
  margin-top: 5px;
  font-weight: 700
}

.shop-list .item .contacts {
  margin-top: 5px
}

.shop-list .item .contacts .metro {
  display: block
}

.shop-list .work-time {
  margin-top: 5px;
  margin-bottom: 10px
}

.shop-list .work-time tr {
  border-bottom: 1px solid #fab5df
}

.shop-list .work-time tr td:first-child {
  width: 95px
}

.shop-list .work-time tr td:first-child + td {
  width: 100px;
  color: #ed0a95
}

.shop-list .item .contacts DT {
  font-weight: 700;
  display: inline-block;
  position: relative;
  margin: 1px 3px 0 0
}

.shop-list .item .contacts DT:after {
  content: ':'
}

.shop-list .item .contacts DD {
  display: inline
}

.shop-list .item .contacts DD:after {
  content: '\A';
  white-space: pre
}

.shop-list .item .time {
  margin-top: 13px
}

.shop-list .item .time DT {
  font-weight: 700;
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 1px
}

.shop-list-balloon {
  padding: 0;
  border-radius: 0;
  min-height: 0;
  width: 344px
}

.shop-list-balloon .work-time {
  margin-top: 5px;
  margin-bottom: 10px
}

.shop-list-balloon .work-time tr {
  border-bottom: 1px solid #fab5df
}

.shop-list-balloon .work-time tr td:first-child {
  width: 95px
}

.shop-list-balloon .work-time tr td:first-child + td {
  width: 100px;
  color: #ed0a95
}

.shop-list-balloon .close-balloon, .shop-list-balloon:before {
  display: none
}

.shop-list-balloon .item {
  border: none;
  padding: 0;
  margin: 19px 19px 17px 28px !important;
  width: 297px !important;
  text-align: left
}

.shop-list .item .photo_small {
  position: absolute;
  right: 0;
  top: -10px;
  cursor: pointer
}